



  <% w =  Game.all.map do |game| %>
  <% game.winner %>
  <% end %>


  <% p1 =  Game.all.map do |game| %>
  <% game.player1 %>
  <% end %>

  <% p2 =  Game.all.map do |game| %>
  <% game.player2 %>
  <% end %>
  <% players = p1 + p2 %>



  <% @users.each do |user| %>
  <% user.wins = w.count(user.id)%>
  <% user.win_precentage =  w.count(user.id) / players.count(user.id) %> 
  <% end %>

<table>
  <tr>
    <th><%= link_to "Name", :sort => "username" %></th>
    <th><%= link_to "ID", :sort => "id" %></th>
    <th><%= link_to "Wins", :sort => "wins" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.id %></td>
    <td><%= user.wins %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


