



  <% w =  Game.all.map do |game| %>
  <% game.winner %>
  <% end %>


  <% p1 =  Game.all.map do |game| %>
  <% game.player1 %>
  <% end %>

  <% p2 =  Game.all.map do |game| %>
  <% game.player2 %>
  <% end %>
  <% players = p1 + p2 %>



  <% @users.each do |user| %>
  <% user.wins = w.count(user.id)%>
  <% if players.count(user.id) == 0 %>
    <% user.win_precentage = 0 %>
  <%else%>
    <%user.win_precentage =  (w.count(user.id)).to_f / (players.count(user.id)).to_f %> 
    <% end %>
  <% end %>
<div class="leaderboard">
<table>
  <tr>
    <th><%= link_to "Name", :sort => "username" %></th>
    <th><%= link_to "ID", :sort => "id" %></th>
    <th><%= link_to "Wins", :sort => "wins" %></th>
    <th><%= link_to "Win Percentage", :sort => "win_precentage" %></th>

    
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username.capitalize   %></td>
    <td><%= user.id %></td>
    <td><%= user.wins %></td>
    <td><%= user.win_precentage.round(2) %></td>

    
  </tr>
<% end %>
</table>
</div>


