<div id="game">
  <% if @game.winner %>
    <% @numbers.each do |n|%>
      <div class="cell">
        <% if n.is_a? Integer %>
          <div class="message">GAME OVER</div>
        <% else %>
          <div class="message"><%= n %></div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <% @numbers.each do |n|%>
      <div class="cell">
        <% if n.is_a? Integer %> 
          <%= form_for(@move) do |f| %>
            <div class="field">
              <%= f.hidden_field :cell_chosen, value: n %> 
            </div>
            <div class="field">
              <%= f.hidden_field :game_id, value: @game.id  %>
            </div>
            <% if @game.player2 != 0 %>
              <div class="field">
                <%= f.hidden_field :user_id, value: @game.next_player  %>
              </div>
            <% else %>
              <div class="field">
                <%= f.hidden_field :user_id, value: @game.player1  %>
              </div>
            <% end%>
            <div>
              <%= f.submit "#{n}", :class => 'damn_button', :height => "100" %>
            </div>
          <% end %>
        <% else %>
          <div class="message"><%= n %></div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>



