<br>
<br>

<div id = "play_computer">
<%= form_for(@game) do |f| %>
  <%= f.hidden_field :player2, value: 0 %>
  <% if current_user %>
    <%= f.hidden_field :player1, value: current_user.id %>
  <% else %>
    <%= f.hidden_field :player1, value: -1 %>  
  <% end %>
  <%= f.submit "Play To Lose V Our Super Loser-Computer", :id => 'button' %>
<% end %>
</div>

<br>
<br>
<br>
<div id = "play_computer">
OR ELSE CHALLENGE SOMEONE
<%= form_for(@game) do |f| %>
  
    <%= f.hidden_field :player1, value: current_user.id %> 
    Player 1: <%= current_user.username %>
  <br>
  <%= f.label :player2, "Who are you challenging?" %><br />
  <%= f.collection_select :player2, User.all, :id, :username, prompt: true %>
  <br>
  <%= f.label :first_move, "Click to let them have first move" %><br />
  <%= f.check_box :first_move, {:checked=>false}, "2", "1" %>
  <br>
  <%= f.submit "Start 2 Player Game", :id => 'button'%>
<% end %>
</div>







