<% if @game.player2 != 0 %>

  <% if current_user.id == @game.next_player%>    
    <% if @game.winner %>
    <div class="message">YOU LOSE <%= current_user.username.upcase%>!!!! </div>
    <% end %>
    <br>
    <%= render "form" %>
  <% else %>
    <% if @game.winner %>
      <div class="message">YOU WIN <%= current_user.username.upcase%>!!!!</div><br>
      <%= render "form" %>
    <% else %>
      Your opponent is taking their turn. Please refresh in a moment to see if it's your turn.  
    <% end %>

  <% end %>

<% elsif @game.player2 == 0 %>
  <%= render "form" %>
<% end %>

