<h1>New game</h1>

  <% [*1..9].each do |n|%>
    
    <% if @numbers.include? (n) %>
      
      <%= form_for(@move) do |f| %>
        <div class="field">
          <%= f.label :cell_chosen, "#{n}" %>
          <%= f.text_field :cell_chosen %>
          <%= link_to "link", move_path  %>
        </div>
        <div class="field">
          <%= f.hidden_field :game_id, value: @game.id  %>
        </div>
        <div class="actions"><%= f.submit "Submit" %></div>
      
      <% end %>
      
      
    
    <% else %>
      <%= @current_user_symbol %>

      <% @current_user_symbol = change_symbol(@current_user_symbol) %>
    <% end %>
  <% end %>