<h1>New game</h1>

  <% @numbers.each do |n|%>
    
    <% if n.is_a? Integer %>
      
      <%= form_for(@move) do |f| %>
        <div class="field">
          <%= f.label :cell_chosen, "#{n}" %>
          <%= f.text_field :cell_chosen %>
         
        </div>
        <div class="field">
          <%= f.hidden_field :game_id, value: @game.id  %>
        </div>
        <div class="actions"><%= f.submit "Submit" %></div>
      
      <% end %>
      
      
    
    <% else %>
      <%= n %>
    <% end %>
  <% end %>