<!DOCTYPE html>
<html>
<head>
  <title>Project1</title>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
   <% if current_user %><br>

     Hello, <%= current_user.username.capitalize %> <br>
     ---------------<br>
     <%= link_to 'Home', games_path %><br>
     ---------------<br>
     <%= link_to 'Logout', logout_path, method: :delete %><br>
     

    <% else %>
     <%= link_to 'Please login', login_path %><br>
     ---------------<br>
     <%= link_to 'Sign Up', signup_path %><br>
     ---------------<br>
     <%= link_to 'Home', games_path %><br>

    <% end %>
  </nav>

  <main>
  <img alt="background image" src="http://thinlyspread.co.uk/wp-content/uploads/2014/06/Beach-Crafts.jpg" id="full-screen-background-image" /> 

  <div id="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    
    <% end %>
    
<%= yield %>
</div>
  </main>
</body>
</html>
