<!DOCTYPE html>
<html>
<head>
  <title>Project1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

   <%# if current_user %>
     <p> hello, <%= current_user.username %> </p>
     <%= link_to 'Logout |', logout_path, method: :delete %>
    <%# else %>
     <%= link_to 'Please login |', login_path %>
     <%= link_to 'Sign Up |', signup_path %>
     <%= link_to 'Home', games_path %>

    <%# end %>

  <div id="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    
    <% end %>
    </div>
<%= yield %>

</body>
</html>
